appdirs
git+https://github.com/Anshusharma75/jhamak
beautifulsoup4
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
js2py
lk21
lxml
megasdkrestclient
psutil
pybase64
hachoir
pillow
filesplit
git+https://github.com/Anshusharma75/jati
cfscrape
Pyrogram==0.18.0
python-dotenv
python-magic
python-telegram-bot
requests
telegraph
tenacity
TgCrypto
git+https://github.com/Anshusharma75/gandusaala
